
* {
      box-sizing: border-box;
      color: #636363;
}

body {
      background: #eeeeee;
}

/* -------トップ画面 ------------------*/
#top_section {
      width: 100%;
      height: 800px;
      background-image: url(../img/bg_01.jpg);
      background-size: cover;
      background-position: center;
      text-align: center;
      padding-top: 300px;
      
}

#top_section h1{
      color:#fff;
      font-size: 80px;
      
}

#top_login,
#top_signin{
      margin: 24px auto;
      font-size: 24px;
      width: 300px;
      line-height: 64px;
      border-radius: 20px;
      background-color: rgba(0, 0,0, 0.5);
      color:#fff;
      cursor: pointer;
}

/* #top_login:hover,
#top_signin:hover {
      opacity: 0.8;
} */

/* ---------ログイン画面 新規登録画面 -----------------*/
.modal {
      width: 100%;
      height:100%;
      position: fixed;
      background-color: rgba(0, 0,0, 0.6);
}

.modal_btn {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
}

.modal_close {
      font-size: 48px;
}

#login_inner {
      width:500px;
      height: 500px;
      background: #fff;
      margin: 100px auto;
      color:#636363;
}

#signin_inner {
      width:600px;
      height: 560px;
      background: #fff;
      margin: 80px auto;
      color:#636363;
}

#login_main,
#signin_main {
      text-align: center;
}

#login_main h2{
      font-size: 56px;
      margin-bottom: 40px;
}

#login_main input {
      width: 300px;
      height: 40px;
      color: #636363;
      font-size: 20px;
}

.input_txt{
      width: 300px;
      height: 40px;
      color: #636363;
      font-size: 20px;
}


#login_btn,
#signin_btn {
      margin: 48px auto;
      width: 300px;
      line-height: 56px;
      background: #636363;
      color:#fff;
      cursor: pointer;
      font-size: 20px;

}

#sel_img {
      width: 100px;
      height: 100px;
      object-fit: scale-down;
}

/* ------------ログイン後の画面 --------------------*/
#header_section {
      background-color: #636363;
      color: #fff;
      padding: 12px;
      display: flex;
      justify-content: space-between;
}
#header_section h1 {
      color: #fff;
      font-size: 32px;
}

#user_info {
      display: flex;
      align-items: center;
}

#header_section h2{
      color: #fff;
      font-size: 16px;
}

#logout_btn {
      cursor: pointer;
      font-size: 12px;
      background:#fff;
      height: 32px;
      margin-left: 12px;
      margin-top: 12px;
      padding:8px;
}



#display_img {
      width: 50px;
      min-height: 50px;
      border-radius: 50%;
}

#preview {
      width: 200px;
      height: 150px;
      object-fit: scale-down;
      border: 1px dotted gray;
}



#output li {
      background: #ccc;
}

#canvas {
      background-color: #fff;
}