
* {
      box-sizing: border-box;
}

/* トップ画面 */
#top_section {
      width: 100%;
      height: 800px;
      background-image: url(../img/bg_01.jpg);
      background-size: cover;
      background-position: center;
      text-align: center;
      padding-top: 300px;
      
}

#top_section h1{
      color:#fff;
      font-size: 80px;
      
}

#top_login,
#top_signin{
      margin: 24px auto;
      font-size: 24px;
      width: 300px;
      line-height: 64px;
      border-radius: 20px;
      background-color: rgba(0, 0,0, 0.5);
      color:#fff;
}

#top_login:hover,
#top_signin:hover {
      opacity: 0.8;
      cursor: pointer;
}

/* ログイン画面 */
.modal {
      width: 100%;
      height:100%;
      position: fixed;
      background-color: rgba(0, 0,0, 0.6);
}

#login_inner,
#signin_inner {
      width:400px;
      height: 500px;
      background: #fff;
      margin: 30px auto;
}

/* 新規登録画面 */
#sel_img {
      width: 100px;
      height: 100px;
      object-fit: scale-down;
}

/* ログイン後の画面 */
#display_img {
      width: 30px;
      min-height: 30px;
      border-radius: 50%;
}

#preview {
      width: 200px;
      height: 150px;
      object-fit: scale-down;
      border: 1px dotted gray;
}



#output li {
      background: #ccc;
}

#canvas {
      background-color: #fff;
}